*{
    margin: 0;
    padding: 0;
}

// Colors
$titulo: #92CBE6;
$parrafo: #113F67;
$caracteristicas: rgb(17, 16, 16);
$planes: #161c1d;
$header: #cae7f2;
$menu: #31768a;
$menuAnimacion: #10416b;
$estrella: #ffbf00;
$footer: #113F67;
// Fonts
$Nunito: 'Nunito', sans-serif;
$Signika: 'Signika Negative', sans-serif;
$Yanone: 'Yanone Kaffeesatz', sans-serif;

/* --------- HEADER --------- */

.header{
    background-color: $header;
}

.header__div__menu{
    list-style-type: square;
    font-family: $Yanone;
    ul li{
        display: inline-block;
        margin: 0.4rem;
        a{
            text-decoration: none; /* Link sin subrayado */
            color: $menu;
            font-size: 26px;
            transition: color 0.3s;
        }
        a:after {    
            background: none repeat scroll 0 0 transparent;
            bottom: 20px;
            content: "";
            display: block;
            height: 3px;
            left: 50%;
            background: $menuAnimacion;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        a:hover{
            color: $menuAnimacion;
        }
        a:hover:after { 
            width: 100%;
        }
    }
}

/* --------- FOOTER --------- */

.footer{
    background-color: $footer;
    font-family: $Nunito;
    font-weight: bolder;
    color: white;
    ul li  a {
        color: white;
        font-size: 20px;
        width: 50px;
        text-align: center;
        text-decoration: none; /* Link sin subrayado */
        transition: font-size 0.3s;
    }
    a:hover{
        font-size: 28px;
    }
}

/* --------- PAGE 404 --------- */

.div_page404{
    margin: 5rem 0 5rem 0;
    h1{
        font-size: 130px;
    }
}

/* --------- INDEX --------- */

.imagen_index{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.parrafos{
    color: $parrafo;
    font-size: 21px;
    font-family: $Nunito;
    text-align: center;
}

/* --------- ABOUT --------- */

.about{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "desarrollo mockup";
    height: 100%;
}

.about__titles{
    font-family: $Signika;
    font-size: 25px;
    color: $titulo;
    text-align: center;
}

.about__desarrollo{
    display: grid;
    grid-area: desarrollo;
    color: $parrafo;
    font-size: 21px;
    font-family: $Nunito;
    text-align: center;
    padding: 20px;
}

.about__mockup{
    display: grid;
    grid-area: mockup;
    justify-items: center;
    img{
        height: 80%;
    }
}

/* --------- CLIENTS --------- */

.card_testimonios{
    text-align: center;
    padding: 10px;
    
}

.testimonios_parrafos{
    color: $parrafo;
    font-size: 21px;
    font-family: $Nunito;
}

.testimonios_rate{
    color: $estrella;
    font-size: 25px;
}

/* --------- PRICING --------- */

.main_title{
    margin-top: 20px;
    font-family: $Signika;
    font-weight: bold;
    font-size: 35px;
    color: $titulo;
}

.table{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

@mixin table__caracteristicas{
    color: $caracteristicas;
    font-size: 17px;
    font-family: $Nunito;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color:#d9edc2;
	border:1px solid #93e641;
    p span{
        font-weight: bolder;
    }
}

.table__caracteristicas_large{
    @include table__caracteristicas; 
    margin: 40px 0 25px;
	padding: 0px 20px 90px 20px;
}

.table__caracteristicas_responsive{
    @include table__caracteristicas; 
	padding: 20px;
}

.table__caracteristicas__plan{
    display: flex;
    justify-content: center;
    padding: 10px 0 50px 0;
    h2, h6 {
        color: $planes;
        font-size: 35px;
        font-family: $Signika;
        font-weight: bold;
    }
}

.table__title{
    @include table__caracteristicas;
    h6 {
        color: $planes;
        font-size: 35px;
        font-family: $Nunito;
        font-weight: bold;
    }
}

/* --------- CONTACT --------- */

.contacto{
    height: 100%;
}

.contacto__info{
    font-family: $Signika;
    font-weight: bold;
    font-size: 50px;
    color: $titulo;
    margin: 80px;
}

.contacto__formulario{
    font-family: $Nunito;
    font-size: 17px;
    margin: 35px;
}

.contacto__formulario__campos{
    padding: 25px;
    border-radius: 10px;
	border:1px solid #080808;
}

/* --------- MEDIA QUERIES --------- */

@media (max-width: 992px){
    .contacto__info{
        text-align: center;
        margin: 25px;
    }
    .contacto__formulario{
        margin: 20px 35px 90px 35px;
    }
    .about{
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas: "desarrollo";
        padding: 20px;
    }
}

@media (max-width: 1240px){
    .about__mockup{
        img{
            height: auto;
            width: 100%;
        }
    }
}
